<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibraryDemos.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LibraryDemos.LibrarySetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LibraryDemos.Properties.Settings1>
            <setting name="ll" serializeAs="String">
                <value>15</value>
            </setting>
        </LibraryDemos.Properties.Settings1>
        <LibraryDemos.LibrarySetting>
            <setting name="ISerove" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="cd" serializeAs="String">
                <value>13333</value>
            </setting>
        </LibraryDemos.LibrarySetting>
    </userSettings>
</configuration>